In [3]:
# !pip install pandas

In [5]:
import json
import pandas as pd

# Load the dataset
df = pd.read_json('/Users/shusshekhar/Desktop/candidate select/100b-jobs-app/abc.json')

In [6]:
df.sample(5)

,name,email,phone,location,submitted_at,work_availability,annual_salary_expectation,work_experiences,education,skills
907,,daring-jaguar@example.com,5.731605e+11,Bogotá,2025-01-28 00:18:43,"[full-time, part-time]",{'full-time': '$137489'},"[{'company': 'IDEMIA', 'roleName': 'Software D...","{'highest_level': 'Bachelor's Degree', 'degree...","[Docker, HTML/CSS, Java, Python, SQL, Flask, A..."
334,Joyful Jaguar,joyful-jaguar@example.com,5.989345e+10,Uruguay,2025-01-27 20:57:55,"[full-time, part-time]",{'full-time': '$109926'},"[{'company': 'Jetmar', 'roleName': 'IT Support...","{'highest_level': 'Bachelor's Degree', 'degree...","[Excel, Python]"
633,Witty Penguin,witty-penguin@example.com,3.630932e+10,Budapest,2025-01-28 01:09:14,"[full-time, part-time]",{'full-time': '$110336'},"[{'company': 'WorkPilots', 'roleName': 'Senior...","{'highest_level': 'Associate's Degree', 'degre...","[Django, Python]"
63,Enthusiastic Hamster,enthusiastic-hamster@example.com,5.547989e+12,Brazil,2025-01-27 09:50:37,"[full-time, part-time]",{'full-time': '$104220'},"[{'company': 'Inside Real Estate', 'roleName':...","{'highest_level': 'Bachelor's Degree', 'degree...","[Python, SQL, Tableau, Power BI, Hadoop, REST ..."
623,Fearless Dolphin,fearless-dolphin@example.com,3.369846e+10,Aix-en-Provence,2025-01-26 21:27:52,"[full-time, part-time]",{'full-time': '$116505'},"[{'company': 'Aix-Marseille University', 'role...","{'highest_level': 'Doctorate', 'degrees': [{'d...",[]

In [7]:
df.columns

Index(['name', 'email', 'phone', 'location', 'submitted_at',
       'work_availability', 'annual_salary_expectation', 'work_experiences',
       'education', 'skills'],
      dtype='object')

In [9]:
df.skills.unique

<bound method Series.unique of 0                 [Data Analysis, Docker, Microservices]
1                                                     []
2      [Laravel, Next JS, React, React Native, Redux,...
3      [Amazon Web Services, Python, Flask, Agile, RE...
4      [JavaScript, Arduino, Amazon Web Services, Azu...
                             ...
970                                     [Java, SQL, XML]
971                                            [Next JS]
972    [MongoDB, TypeScript, React Native, REST APIs,...
973    [JavaScript, Project Management, Express, Java...
974    [NLP, SQL, Power BI, Amazon Web Services, Exce...
Name: skills, Length: 975, dtype: object>